[Unit]
Description=Windows Installer
After=getty.target
Conflicts=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/srv/windowsUsbBootstrapper/main.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
