[Unit]
Description=Windows Installer
After=getty.target
Conflicts=getty@tty0.service

[Service]
#Type=oneshot
ExecStart=/srv/windowsUsbBootstrapper/main.sh
StandardInput=tty
TTYPath=/dev/tty0
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
