[Unit]
Description=Windows Installer
After=systemd-user-sessions.service getty-pre.target
Before=getty.target

[Service]
Type=oneshot
ExecStart=/srv/windowsUsbBootstrapper/main.sh
StandardInput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
